.main-container {
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2em;
    background-color: #f5f5f5;
    height: 4em;
    margin: 0;

}

.appointment-form-section, .search-result-section {
    flex: 1;
    padding: 20px;
    flex-direction: column;
}

.appointment-form-section h2 {
    margin: 0;
    padding: 2em 0.5em 2em 0.5em;
}

.appointment-form {
    margin: 1em 2em 2em 0;
    padding: 2em;
    background-color: lightskyblue;
    border-radius: 8px;
    height: 300px;
    width: 80%;
}

.appointment-form h2 {
    text-align: center;
}

.appointment-form label {
    display: block;
    margin-top: 10px;
}

.appointment-form input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #ddd;
}

.appointment-form button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.appointment-form button:hover {
    background-color: #0056b3;
}

/* Result Form */

.search-result-section {
}

.search-result-section h2{
    margin: 0;
    padding: 2em 0.5em 2em 0.5em;
}

.search-result-box{
    background-color: pink;
    width: 500px;
    height: 500px;
    border-radius: 1em;
}